@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #000000;
  background-color: #000000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* 기본 색상 설정 (색상은 개인적으로 선택하였습니다.)*/
  --text-color: #292828;
  --border-color: #f4f6f9;
  --drawer-button-color: #e5435f;
  --slider-button-bg-color: #f4f6f9;
  --bookmark-bg-color: #ff8da1;
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 980px;

  /* 색상 관련 설정 */
  --color-text-color: var(--text-color);
  --color-border-color: var(--border-color);
  --color-drawer-button-color: var(--drawer-button-color);
  --color-slider-bg-button-color: var(--slider-button-bg-color);
  --color-bookmark-button-color: var(--bookmark-bg-color);
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}
